<html>
    <head>
        <title>Quiz: {{options.title}}</title>
    </head>
    <style>

    body{
        font-family: sans-serif;
    }

    .option.correct{
        background-color: #0F0;
    }

    .option.incorrect{
        background-color: #F00;
    }
    .result{
        font-size: 30;
        padding: 20;
    }
    .question{
        background-color: #EEE; 
    }
    .answer{
        border: solid 1px black;
        padding: 20px;
    }

    .incomplete{
        display: none;
    }

    .complete{
        display: block;
    }
    </style>
    <body>
        <h1>{{options.title}}</h1>
        <p>{{options.subtitle}}</p>
        <img src="{{options.imageServiceURL}}" width="675" height="380">
        <div>©{{options.imagecredit}}</div>
    {% for row in data %}

        <div class="question" data-answer="{{row.answer}}">{{ row.question|safe }}
        {% for key, item in row.option %}
            <button class="answer-option" data-selected="false">{{ item }}</button>
        {% endfor %}
            {% if row.answercopy %}<div class="answer incomplete"> {{ row.answercopy }} </div>{% endif %}
        </div>
    {% endfor %}
    <div class="result"></div>
    </body>
    <script>
        //wire up the quiz
        var tally = {
            correct: 0,
            incorrect: 0,
            total: document.querySelectorAll('.question').length
        };

        document.querySelectorAll('.question')
            .forEach((questionContainer,i)=>{
                var answer = questionContainer.dataset.answer;
                questionContainer.querySelectorAll('.answer-option')
                    .forEach((e,j)=>{
                        e.onclick = buttonClick(answer, questionContainer);
                    });
            });

        function buttonClick(correctAnswer, parent){
            return function(ev){
                console.log('click...')
                if(ev.target.innerHTML == correctAnswer){
                    tally.correct ++;
                    ev.target.className = "option correct";
                }else{
                    tally.incorrect ++;
                    ev.target.className = "option incorrect";
                }

                parent.querySelectorAll(':scope > button')
                    .forEach((b)=>{
                        b.disabled = true;
                    });

                parent.querySelector(':scope > .answer')
                    .className = 'answer complete';

                complete();
            }
        }

        function complete(){
            if((tally.correct + tally.incorrect) === tally.total){
                document.querySelector('.result')
                    .innerHTML = 'You scored ' + tally.correct + '/' + tally.incorrect;
            }
        }
    </script>
</html>