{% if options.frame == 'true' %}
{% include "templates/framed-header.html" %}
{% else %} 
{% include "templates/header.html" %}
{% endif %}

<style>{% include "templates/quiz-body.css" %}</style>

    {% for row in data %}
    <div class="question-container" data-answer="{{row.answer}}">
        <div class="question o-typography-subhead--standard">{{ row.question|safe }}
        {% for key, item in row.option %}
            {% if item %}<button class="answer-option o-buttons o-buttons--standout" data-selected="false">{{ item }}</button>{% endif %}
        {% endfor %}
            {% if row.answercopy %}<div class="answer incomplete o-typography-body"> {{ row.answercopy }} </div>{% endif %}
        </div>
    </div>
    {% endfor %}
    <div class="result"></div>

{% if options.frame == 'true' %}
{% include "templates/framed-footer.html" %}
{% else %} 
{% include "templates/footer.html" %}
{% endif %}

    </body>
    <script>

    (function(mustard){  //wire up the quiz
        if(!mustard) return;
        var tally = {
            correct: 0,
            incorrect: 0,
            total: document.querySelectorAll('.question-container').length
        };

        document.querySelectorAll('.question-container')
            .forEach((questionContainer,i)=>{
                var answer = questionContainer.dataset.answer;
                questionContainer.querySelectorAll('.answer-option')
                    .forEach((e,j)=>{
                        e.onclick = buttonClick(answer, questionContainer);
                    });
            });

        function buttonClick(correctAnswer, parent){
            return function(ev){
                if(ev.target.innerHTML == correctAnswer){
                    tally.correct ++;
                    ev.target.classList.add('correct');
                }else{
                    tally.incorrect ++;
                    ev.target.classList.add('incorrect');
                }

                parent.querySelectorAll(':scope button')
                    .forEach((b)=>{
                        b.disabled = true;
                    });

                parent.querySelector(':scope .answer')
                    .classList.add('complete');

                complete();
            }
        }

        function complete(){
            console.log('complete?')
            if((tally.correct + tally.incorrect) === tally.total){
                document.querySelector('.result')
                    .innerHTML = 'You scored ' + tally.correct + '/' + (tally.incorrect + tally.correct);
            }
        }
    })(cutsTheMustard);
    </script>
</html>