body{
    font-family: sans-serif;
    background-color: #fff1e0;
}


button.correct[disabled]{
    opacity: 1;
    background-color: #B6C982;
    color: white;
}

button.incorrect[disabled]{
    opacity: 1;
    color: white;
    background-color: #DE9186;
}
.result{
    font-size: 30;
    padding: 20;
}

.answer{
    border: solid 1px black;
    padding: 20px;
}

.incomplete{
    display: none;
}

.complete{
    display: block;
}